# POC - AI Pool 2022 - Day 01 - Data Science

## Introduction

#### Data Science & Data scientist

Before going futher in this subject, let's start by a short definition of what Data Science is : Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data and apply knowledge and actionable insights from data across a broad range of application domains.

A Data Scientist is often seen as a handyman from fetching the data to putting a machine learning model in production.
In reality, each part related to AI and Data as its own job : The Data Miner fetches the data, the machine learning engineer builds machine learning models and the MLOps deploys those models.

Another way to see the Data scientist (which I prefere) is as the one who knows how to handle all works related to data : Data mining, Data exploration, interpretation of the data, its visualization and its processing.

We will not go any further into details of each job in AI but if you want to know more I advise you to read [this great book](https://huyenchip.com/ml-interviews-book/contents/chapter-1.-ml-jobs.html) written by _Chip Huyen_ who explains each job in every part of AI.

#### What you will see in this subject

In this subject you will discover a few bases of Data Science : How to manipulate data, explore it, vizualise it and interpret it.\
Eventually, you will learn how to use a machine learning model using the `sklearn` library.

If you have any questions, don't hesitate to ask other candidates or one of the supervisors.\
Good luck and have fun.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## I - Data Exploration

Before manipulating our data or even interpreting it we need to explore it, to know what type of data do we have and what does it mean.\
So let's start by exploring our data using the `pandas` and `searborn` libraries.

### I-I Reading a csv

We have at our disposition a csv (`./data/train.csv`) that we want to explore, the first step is to know what data does our csv contains?

**Tasks:**
* Using pandas, open `./data/train.csv`
* Find what columns our csv contains (name, type and number of values)
* Find what is our dataframe's shape

In [8]:
import pandas

pandas.read_csv("./data/train.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
import pandas

dataframe = pandas.read_csv("./data/train.csv")
list(dataframe.columns)
list(dataframe.dtypes)
print(dataframe.value_counts)

<bound method DataFrame.value_counts of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [13]:
import pandas

dataframe = pandas.read_csv("./data/train.csv")
print(dataframe.shape)

(891, 12)

### I-II Set indexes

Nice! We now have a better understanding of our data. It seems like we are facing the `titanic` dataset, referencing each passager who were on board of the titanic.\
Our goal is to explore this dataset and finally to create a simple machine learning model to predict if a passenger survived using its informations.

To give you a better understanding of our data, here is a description of each columns :
* **PassengerId** : ID of the passenger.
* **Survived** : `0` if the passenger did not survive, `1` if it did.
* **Pclass** : Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd).
* **Name** : Name of the passenger.
* **Sex** : Sex of the passenger.
* **Age** : Age of the passenger.
* **SibSp** : Number of siblings / spouses aboard.
* **Parch** : Number of parents / children aboard.
* **Ticket** : Ticket number.
* **Fare** : Ticket price.
* **Cabin** : Cabin number.
* **Embarked** : Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

Using the above informations, we can see that the `PassengerId` colomn is just full of indexes referencing each passagenrs.\
Before going futher let's precise that we will use the `PassengerId` column as index.

**Tasks:**
* Set the DataFrame index using `PassengerId` column.

In [2]:
import pandas

dataframe = pandas.read_csv("./data/train.csv")
dataframe.set_index("PassengerId")

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Good! Now we can start.

### I-III Cleaning dataset

One of the main issues in Data Science are missing values. Watch the informations taht you have it your columns and ask yourself which column could be a problem and we should drop.
If you said `Cabin` you are right! (IF you said `Age`, remember what does our final goal is in this subject).

(In reality we have techniques to deal with missing values but to simplify this subject we will not see them.)

Indeed, the `Caibn` column miss soo many values that it useless, we prefer to drop it.\
We can also see that it miss values in the columns `Age` and `Embarked`, to simplify the next steps we also decide to drop every row containing missing value(s).

**Tasks:**
* Drop the `Cabin` column ainsi que toute ligne contenant une valeur non atribuée
* Drop every rows with one or more missing values

In [14]:
dataframe.drop(["Cabin"], axis = 1)
dataframe.dropna(axis = 0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

### I-IV Basic data exploration

Now we are sure we no longer have missing values we can go futher.

As we can see, our csv contains numérics and alphanumerics values. Both are explorable but to start we will focus only on the numerics values.\
A good start would be to know the distribution of each values.

**Tasks:**
* Find the mean value for each numerical column
* Find the std value for each numerical column
* Find the min value for each numerical column
* Find the lower percentile (25) for each numerical column
* Find the median for each numerical column
* Find the upper percentile (75) for each numerical column
* Find the max value for each numerical column

In [4]:
##Note: j'aurai pu faire 100x plus opti pour éviter de dupli mais flemme un peu
import pandas

def mean_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		mean_value = dataframe[column].mean()
		print(f"Mean of {column}: {mean_value}")
mean_column(dataframe)

def std_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		std_value = dataframe[column].std()
		print(f"Std of {column}: {std_value}")
std_column(dataframe)

def min_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		min_value = dataframe[column].min()
		print(f"Min of {column}: {min_value}")
min_column(dataframe)

def median_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		median_value = dataframe[column].median()
		print(f"Median of {column}: {median_value}")
median_column(dataframe)

def max_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		max_value = dataframe[column].max()
		print(f"Max of {column}: {max_value}")
max_column(dataframe)

def lower_percentile_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		lower_p_value = dataframe[column].quantile(0.25)
		print(f"Lower percentile of {column}: {lower_p_value}")
lower_percentile_column(dataframe)

def higher_percentile_column(dataframe):
	numerical_columns = dataframe.select_dtypes(include=["number"]).columns
	for column in numerical_columns:
		higher_p_value = dataframe[column].quantile(0.75)
		print(f"Lower percentile of {column}: {higher_p_value}")
higher_percentile_column(dataframe)

Mean of PassengerId: 446.0
Mean of Survived: 0.3838383838383838
Mean of Pclass: 2.308641975308642
Mean of Age: 29.69911764705882
Mean of SibSp: 0.5230078563411896
Mean of Parch: 0.38159371492704824
Mean of Fare: 32.204207968574636
Std of PassengerId: 257.3538420152301
Std of Survived: 0.4865924542648575
Std of Pclass: 0.836071240977049
Std of Age: 14.526497332334042
Std of SibSp: 1.1027434322934317
Std of Parch: 0.8060572211299483
Std of Fare: 49.6934285971809
Min of PassengerId: 1
Min of Survived: 0
Min of Pclass: 1
Min of Age: 0.42
Min of SibSp: 0
Min of Parch: 0
Min of Fare: 0.0
Median of PassengerId: 446.0
Median of Survived: 0.0
Median of Pclass: 3.0
Median of Age: 28.0
Median of SibSp: 0.0
Median of Parch: 0.0
Median of Fare: 14.4542
Max of PassengerId: 891
Max of Survived: 1
Max of Pclass: 3
Max of Age: 80.0
Max of SibSp: 8
Max of Parch: 6
Max of Fare: 512.3292
Lower percentile of PassengerId: 223.5
Lower percentile of Survived: 0.0
Lower percentile of Pclass: 2.0
Lower percentile of Age: 20.125
Lower percentile of SibSp: 0.0
Lower percentile of Parch: 0.0
Lower percentile of Fare: 7.9104
Lower percentile of PassengerId: 668.5
Lower percentile of Survived: 1.0
Lower percentile of Pclass: 3.0
Lower percentile of Age: 38.0
Lower percentile of SibSp: 1.0
Lower percentile of Parch: 0.0
Lower percentile of Fare: 31.0

We are starting to see a little more clearly, what can we interpret from these data?

We can see that an average passenger aboard the Titanic has 30 yrs old, came without a wife/husband or child/parent and bought his ticket 35\$$$.\
On the other hand, we do not learn much more about the `Pclass` column. This is because this contains numbers that do not represent values but categories.\
(As a reminder: 1 = 1st class, 2 = 2nd class, 3 = 3rd class.)

Let's continue to learn about the passengers aboard the Titanic by looking at the number of passengers in each class.

**Tasks:**
* Find how many passengers was in each class

In [5]:
import pandas

def find_count_passager_class(dataframe):
	class_counts = dataframe["Pclass"].value_counts()
	print(class_counts)
find_count_passager_class(dataframe)

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

We can see that the third class represents almost half of the passengers, it changes our vision of the Titanic ... \
Let's explore a bit the profile of a passenger in each of the classes do you want?

**Tasks:**
* Find the mean value of the `Parch` column for each class.
* Find the mean value of the `SibSp` column for each class.
* Affichez l'age moyen d'un passager dans chacunes des classes
* Affichez le prix moyen d'un ticket pour chacunes des classes
* Affichez le taux de survie des passagers dans chacunes des classes

In [8]:
i = 1
data_to_check = ["Age", "Fare", "Survived"]
def get_mean_column(dataframe, column):
		value = dataframe[column].mean()
		return value

get_mean_column(dataframe, "Parch")
get_mean_column(dataframe, "SibSp")

def get_average_of_class(dataframe, column, pclass):
	value = dataframe[dataframe["Pclass"] == pclass][column].mean()
	return value

for data in data_to_check:
	for i in range(1, 3 + 1):
		print(f"Average {data} of passenger in class {i}: {get_average_of_class(dataframe, data, i)}")

Average Age of passenger in class 1: 38.233440860215055
Average Age of passenger in class 2: 29.87763005780347
Average Age of passenger in class 3: 25.14061971830986
Average Fare of passenger in class 1: 84.1546875
Average Fare of passenger in class 2: 20.662183152173913
Average Fare of passenger in class 3: 13.675550101832993
Average Survived of passenger in class 1: 0.6296296296296297
Average Survived of passenger in class 2: 0.47282608695652173
Average Survived of passenger in class 3: 0.24236252545824846

We can see very interesting information like:
* The average price of a ticket for each of the classes is respectively 88$\$$, 21$\$$, and 13$\$$.
* The "old" population is more predominantly in first class where the youngest population is more in third class
* The majority of the third class died following the sinking of the Titanic.

Now let's move on to different embarkation ports, which one do you think was used the most?

To help you, here is the titanic's journey:\
<img src=""  style="width:700px" />

**Task:**
* Find how many passengers embarked by each ports (As a reminder : C = Cherbourg, Q = Queenstown, S = Southampton)

As expected, we can see that it is in Southampton (its city of departure) that the Titanic embarked the most passengers, followed by Cherbourd its first stopover and Queenstown its second stopover.\
Now let's look at how many passengers of each class have joined at each port.

**Objectif:**
* For each class, find how many people embarked on board from which port.

We can see that for classes 2 and three the almost majority of passengers embarked at Southampton while for first class a significant proportion of passengers embarked at Cherbourg.

### I-V Advance Data Exploration

We're starting to see it much clearer in our data, aren't we? \
Now is the time to explore the correlations between our different values and in particular the survival rate.

So start by displaying a simple correlation table between the numerical values.

**Task:**
* Find and display the correlation between each numerical columns

In [ ]:
import seaborn
import matplotlib
numerical_columns = dataframe.select_dtypes(include=["number"]).columns

We can already interpret a lot of information but before taking a look I suggest that we add some colors.

**Task:**
* Display a heatmap showing the correlation between each numerical columns

In [15]:
import seaborn
numerical_columns = dataframe.select_dtypes(include=["number"]).columns
seaborn.heatmap(numerical_columns)

IndexError: Inconsistent shape between the condition and the input (got (7, 1) and (7,))

Isn't it nicer to read? Based on whether a passenger survived or not, what can be interpreted by this graph?

We can see that the passenger class was a factor with a big influence on the survival rate of the passenger, those in first class apparently had more "luck"... \
We can see a semblance of correlation between age and the fact that a passenger survived, let's try to find out more.

**Taks:**
* Using a histogram display the relationship between age and whether or not a passenger survived

Well, we are sure there is a correlation between age and the fact of having survived the Titanic. Women and children first, they say, don't they. \
Moreover, we have to verify the exatitude of this term for children but not yet for women. You know what you have left to do...

**Task:**
* Show if there is a link between a passenger's Sex and whether or not it survived

This sentence is therefore true!

Now that we have explored different correlations, we will be able to prepare our data so that our model can interpret it;

Our model only accepts numeric values so how to do for the `Sex` column?\
Just convert it to a numeric value.

We will also try to highlight the correlation between age and the survival rate (we saw that a passenger of five years or less is considered as a child).


**Tasks:**
* Create a new column named `Child` and fill it (remember, we consider as a child a passenger that is less than 6 yrs old)
* Convert the `Sex` column into a numerical column

In [16]:
def convert_sex_numerical(sex):
    if sex == "female":
        return 1
    else:
        return 0

dataframe["Sex"] = dataframe["Sex"].map(convert_sex_numerical)

print(dataframe)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Well, our data is ready, before creating the model let's take a final look at the correlations between our data to help us decide which ones might be useful to us.

**Obectifs:**
* Using a heatmap, show the correlation between all the numerical columns
* Using the `groupby` method of pandas, show the relation between `Sex` and `Survived`
* Using the `groupby` method of pandas, show the relation between `Child` and `Survived`

## II - Machine learning

So far we have taken the time to :
* Explore the data
* View the data
* Correlate the data
* Interpret the data
It's a good start, don't you think?

Now let's get down to business (_add a drumbeat_): machine learning ("_tin tin tin _").\
For now we're not going to go into too much detail on how to create our models ourselves, we'll just use the `sklearn` library which will do most of the work for us.

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

### II-I Data

Before creating our model (promised this is the last step of preparation) we must create a testing and training set ("_Set what?_" Said a student in the distance).\
To understand what a test set is and why it is necessary it is best to go over what machine learning is so let's start with a short definition.

<ins>Machine learning</ins>: Machine learning is the study of computer algorithms that can improve automatically through experience and by the use of data. It is seen as a part of artificial intelligence.

There are two things to remember from this definition:
- "_computer algorithms that can improve automatically_": In machine learning, we do not directly create the solution but an algorithm that will adjust "automatically" until potentially reaching the desired result.
- "_can improve automatically through experience and by the use of data._": Our model learns thanks to data, so the model is not at the center of our attention, it is first and foremost our data that is.

A machine learning model will adjust to meet a single criterion: Bringing the _cost_ closer to zero.\
As a reminder, the loss function (producing the loss) is a function which from a prediction and labels indicates how wrong the model is, the closer the loss is to zero, the better.

To illustrate these remarks, I suggest that we take a look at the cost function nammed MSE (mean squared error).\
<img src="https://www.gstatic.com/education/formulas2/355397047/en/mean_squared_error.svg"/>

We have here named $Y_i$ the model prediction for a numbered data item $i$ and $\hat{Y}_i$ the result expected by our model for this same numbered data $i$.\
We sum the results obtained for each data numbered from $0$ to $n$ and take the average of this sum by dividing the result by $n$.

We thus obtained the average difference between the predictions of the model and the expected results, it is our cost.

The loss is practical to verify the learning of a model, it suffices to verify that the cost decreases as the model learn. On the other hand, if I show you a cost of $100$, it's hard to know if it's good or not, that's where the accuracy comes in, it's the percentage of times the model has found the right result.\
An accuracy of $50%$ would mean that our model is wrong every other time, $90%$ once in 10, etc ...

On the other hand, we cannot always have an accurary, take for example a model which aims to predict the exact speed of a car.\
He predicted $121.5km/h$ and the car was going at $119km/h$, you can't tell your model is "right" or "wrong". You will say rather that it was wrong of $2.5km/h$ (which is a loss).


"_And our history of testing and training set, is where in there? _" Exclaims the impatient.\
If we summarize, our model learns on the data we give it and tries to reduce the cost calculated according to the prediction of our model and the expected results but if we want to know how our model behaves on the data that it does not have ever seen how we do it? We create a test set, a set of data our model had never see and test it on it ...

Our training set is the data that is used by our model to train, our test set is a data that our model has never seen that we use to know how behaves on a data that he has not seen before.
To be precise there is even a third set called the validation set but we will not discuss it for the moment.

Here as we do not have only one csv, we will have to divide it into two sets (training and testing). \
You understood everything? Perfect! Enough of an explanation like that, let's take action!

**Tasks:**
* Create a dataframe named `train_df` containing 80% of our data
* Create a dataframe named `test_df` containing 20% of our data

Now that we have our sets, it's time to choose what data we're going to use to train our model.\
To start, we recommend using the `Pclass`,` Sex`, `Age`,` Fare` and `Child` columns but you are free to modify this selection.

**Task:**
* Select the columns you think are useful to predict if a passenger survived

In [ ]:
columns = ['TODO']

We will **FINALLY** be able to switch to buzz word, the machine learning application.

To start our first prediction we will use an extremely simple model that some of you may have already seen or used: linear regression.\
The principle of a linear regression is to draw a line in $N$ dimensions where $N$ represents the number of values that we give to our model.

To illustrate these words, here is the course of learning a linear regression on a two-dimensional data which is linear: \
![LiRegURL](https://miro.medium.com/max/700/1*CjTBNFUEI_IokEOXJ00zKw.gif "Linear regression")

This algorithm is quick and easy to set up but only works if the data is linear (which answers the equation $y = b_0 + b_1x$).\
Is ours? Let's try and we'll see.

**Task:**
* Train a linear regression model on your training set and test it on your test set

If you have inconclusive results (less than $0.65$) don't be surprised.\
Obviously our data is not linear (not surprisingly), you can check by executing the code below:

In [ ]:
plt.scatter(df.Age, df.Survived)

An algorithm that might be more promising is logisitic regression, it tries to apply the following formula:
## $\frac{1}{(1 + e^{-(b_0 + b_1x)}}$

Let's see what it looks like!

**Task:**
* Train a logistic regression model on your training set and test it on your test set and display your score

You should have much better results (over $0.75$).

To conclude, let's try another kind of algorithm, a decision tree named Random forest.\
We will not detail its operation here but we urge you more than strongly to inquire about it.

**Task:**
* Train a Random Forest decision tree on your training set and test it on your test set

Congratulations! You have quickly discovered the basics of data science and used your first machine learning models, I am impressed.

## III - It's your turn!

To conclude this subject, we have a challenge for you. Go to [this website](https://www.kaggle.com/c/titanic) and try to solve the challenge.\
The one with the best results will earn **100 points** on the day!